body {
    background-color: #fff;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    background-color: #ec011e;
    border-radius: 50px;
    border: 0;
    padding: .7rem 2rem;
}

.btn-primary:hover {
    background-color: #cb0119;
}

.iphoneContainer {
    display: flex;
    align-items: center;
    height: 60em;
    justify-content: center;
}
@media screen and (max-width: 1800px) {
    .iphoneContainer {
       height: 50em;
    }
}
@media screen and (max-width: 488px) {
    .iphoneContainer {
        height: 39em;
    }
}
@media screen and (max-width: 421px) {
    .iphoneContainer {
        height: 34em;
    }
}
@media screen and (max-width: 368px) {
    .iphoneContainer {
        height: 29em;
    }
}
@media screen and (max-width: 992px) {
    .m-t-2 {
        margin-top: 2em;
    }
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iphone {
    background-image: url(../images/iphone8.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 92%;
    position: relative;
}

video {
    width: 90%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .iphone {
        width: 41%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 770px) {
    .iphone {
        width: 55%;
    }
}

@media screen and (max-width: 520px) {
    .iphone {
        width: 68%;
    }
}

.bot {
    width: 100px;
    height: 100px;
}

.title {
    font-size: 2em;
}
@media screen and (max-width: 1025px) {
   .title {
    font-size: 1.6em;
}
}

.icon-chat {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.text {
    color: #ccc;
    font-size: .9em;
    margin-top: 1em;
}